:root {
  --color-white: #ffffff;
  --color-black: hsl(240, 67%, 8%);
  --color-dark-grey: hsl(240, 17%, 26%);
  --color-light-grey: hsl(240, 6%, 54%);
  --color-mercury: hsl(194, 48%, 49%);
  --color-venus: hsl(33, 82%, 61%);
  --color-earth: hsl(263, 67%, 51%);
  --color-mars: hsl(10, 63%, 51%);
  --color-jupiter: hsl(2, 68%, 53%);
  --color-saturn: rgb(203, 80, 32);
  --color-uranus: hsl(169, 73%, 44%);
  --color-neptune: hsl(222, 87%, 56%);

  --ff-spartan: "Spartan", sans-serif;
  --ff-antonio: "Antonio", sans-serif;
  --ff-base-size: 0.874rem;

  --button-hover: #313148;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: var(--ff-base-size);
  font-family: var(--ff-spartan);
}
